{% extends 'index.html' %} 
{% block main %}
<div class="m-6">
	<table class="table m-4  table-striped border-black">
		<h3 class="m-4"><strong> Cadastro de Clientes </strong></h3>
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col"><strong>Nome</strong></th>
			<th scope="col"><strong>Sobrenome</strong></th>
			<th scope="col"><strong>Data Nascimento</strong></th>
			<th scope="col"></th>
		  </tr>
		</thead>
		<tbody>
		{% for cliente in cliente_list %}
				<tr>
					<th scope="row">1{{cliente.pk}}</th>
					<td>{{cliente.nome}}</td>
					<td>{{cliente.sobrenome}}</td>
					<td>{{ cliente.dataNascimento }}</td>
					<td>
						<a href="{% url 'client_update' pk=cliente.pk %}">Alterar</a>
						<a href="{% url 'client_delete' pk=cliente.pk %}">Excluir</a>
					</td>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}