<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} SART - SISTEMA DE ADMINISTRAÇÃO PARA REPRESENTANTES DE TURMA{% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="navbar-fluid">
            <a class="navbar-brand" href="#">SART</a>
        </div>
            <div class"collapse navbar-collapse m-1" id="navbarSupportedContent">  
                <a href="{% url 'client_list' %}" class="btn btn-primary">Listar</a>
                &nbsp;
                <a href="{% url 'client_add' %}" class="btn btn-primary">Incluir</a>
                <br>      
            </div>
    </nav>



   {% block main %} {% endblock %}
    </div>
 </body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>